/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply styles to the body or any other global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background:black;
  color: #333;
}

/* Style the header */
header {
  background-color: #000000;
  color: #fff;
  padding: 1rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

a {
  text-decoration: none;
  color: #8d83f1;
}

h1 {
  font-size: 44px;
}


nav {
  display: flex;
  gap: 20px;
}

nav a {
  font-weight: bold;
  font-size: 22px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Style the button */
nav button {
  background-color: #333; /* Background color for the button */
  color: #8d83f1; /* Text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s; /* Add a smooth transition effect */
}

/* Style the button on hover */
nav button:hover {
  background-color:#8d83f1; /* Background color on hover */
  color: #333; /* Text color on hover */
}

nav span{
  color: #8d83f1;
}





/* Style the pages section */
.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style the login form */
.login-form {
  background-color: #000000;
    padding: 60px;
    border-radius: 9px;
    color: #8d83f1;
    box-shadow: 0 0 39px rgb(160 0 255);
}


/* Style the signup form */
.signup-form {
  background-color: #08080b;
  padding: 60px;
  color: #8d83f1;
  border-radius: 9px;
  box-shadow: 0 0 39px rgb(160 0 255);
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-title {
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
}

.form-button {
  background-color: #957cec;
  color: #000;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/* Error message style */
.error {
  color: #b90000;
  font-size: 14px;
  margin-top: 10px;
}




/* Style the home container */
.home {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #bbb0ff;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    color: #3d035c;
}

/* Style the tasks container */
.tasks {
  display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    flex-direction: row;
    overflow-y: auto;
    max-height: 600px;
    background-color: #997cfa;
    border: 1px solid #f8f8f9;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;

}

/* Style the task details */
.task-details {
  background-color: #3d035c;
  border: 1px solid #d2d1d6;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
  flex-direction: column;
  color: white;
}

h4 {
  font-size: 25px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
  font-size: 15px;
}

strong {
  font-weight: bold;
}

.material-symbols-outlined {
  margin-right: 10px;
  cursor: pointer;
  margin-top: 7px;
}


/* Style the create form */
.create {
  background-color: #997cfa;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
}

h3 {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

label {
  display: block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.create button {
  background-color: #3d035c;
  color: #bbb0ff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 18px;
}

button:hover {
  background-color: #202020;
  color: #fff; /* Darken the background color on hover */
}


@media (max-width: 767px) {
  .task-details {
    width: 100%;
  }
}
