/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply styles to the body or any other global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #576ccf, #7f4cac);
  color: #333;
}

/* Style the header */
header {
  background-color: #000000;
  color: #fff;
  padding: 1rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

a {
  text-decoration: none;
  color: #87b1ea;
}

h1 {
  font-size: 44px;
}


nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: #87b1ea;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Style the button */
nav button {
  background-color: #333; /* Background color for the button */
  color: #87b1ea; /* Text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s; /* Add a smooth transition effect */
}

/* Style the button on hover */
nav button:hover {
  background-color:#87b1ea; /* Background color on hover */
  color: #333; /* Text color on hover */
}

nav span{
  color: #87b1ea;
}





/* Style the pages section */
.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style the login form */
.login-form {
  background-color: #bbb0ff;
  padding: 60px;
  border-radius: 9px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Style the signup form */
.signup-form {
  background-color: #bbb0ff;
  padding: 60px;
  border-radius: 9px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-title {
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
}

.form-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/* Error message style */
.error {
  color: #ff0000;
  font-size: 14px;
  margin-top: 10px;
}




/* Style the home container */
.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffffff5c;
  padding: 20px;
  align-items: center;
  border-radius: 10px;
}

/* Style the tasks container */
.tasks {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  flex-direction: row;
  overflow-y: auto;
  max-height: 600px;
  background-color: #6e99e8;
  border: 1px solid #b0caec;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 300px;

}

/* Style the task details */
.task-details {
  background-color: #bbb0ff;
  border: 1px solid #d2d1d6;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
  flex-direction: column;
}

h4 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

p {
  margin: 5px 0;
}

strong {
  font-weight: bold;
}

.material-symbols-outlined {
  margin-right: 10px;
  cursor: pointer;
}


/* Style the create form */
.create {
  background-color: #6e99e8;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
}

h3 {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

label {
  display: block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.create button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 18px;
}

button:hover {
  background-color: #444; /* Darken the background color on hover */
}


@media (max-width: 767px) {
  .task-details {
    width: 100%;
  }
}
